@charset "UTF-8";

/*@charset "UTF-8";*/
/* CSS Document */
body {
    margin: 0;
    padding: 0;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    background-image: url("../image/federico-respini-sYffw0LNr7s-unsplash.jpg"); /* Adjust the path if needed */
    background-size: cover;
    background-position: center;
}

.container {
    width: 350px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 5% auto;
    text-align: center;
    border-radius: 8px;
}

.container h2 {
    color: #1c8adb;
    margin-bottom: 20px;
}

.container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.container input[type="text"],
.container textarea,
.container input[type="checkbox"] {
    width: calc(100% - 20px); /* Allow space for padding */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.container textarea {
    resize: vertical;
}

.container input[type="text"]:focus,
.container textarea:focus {
    border-color: #1c8adb;
    box-shadow: 0 0 5px rgba(28, 138, 219, 0.5);
}

.container input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.container button,
.container .submit-btn,
.container input[type="submit"] {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 15px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1c8adb;
    transition: background-color 0.3s;
}

.container button:hover,
.container .submit-btn:hover,
.container input[type="submit"]:hover {
    background-color: #166dad;
}

.container a {
    text-decoration: none;
    color: #1c8adb;
}

.container hr {
    margin-top: 10px;
}

.container img {
    width: 70px;
    margin-top: -50px;
}
